
.suppliers{
    width: 100%;
    text-align: right; 
}
.suppliers .title{
    text-align: right;
    font-size: 2rem;
}
.suppliers .add-pro{
    color: white;
    margin: 0.5rem 0;
    background-color: var(---background-orange);
    border: none;
    transition: 0.7s ease;
    box-shadow: inset  -2px 3px 17px 1px #f5b67696 , -3px 5px 5px 0px #f5b676 ;
}
.suppliers .add-pro:hover{
    box-shadow: inset -2px 3px 17px 1px var(---background-orange);
    background-color: white;
    color: var(---background-orange);
}
@media (max-width:990px){
    .suppliers{
        width: 100%;
    }
}