
.form-control{
    direction: rtl;
    border: none!important;
    border-bottom: 1px solid #a8a7a7!important;
    border-radius: 0!important;
    background-color: transparent;
}

label{
    direction: rtl;
    right: 0!important;
    left:auto!important;
    color: #a8a7a7;
}

input:focus{
    outline: none!important;
}

.submit{
    float: right;
    border: none!important;
    background-color: var(---olive)!important;
    color: white;
    border-radius: 1rem!important;
    padding: 0.5rem 1rem;
}