.nav-bar-header {
    position: fixed!important;
    z-index: 9;
    margin: 0.5rem ;
    width:73%;
    padding: 1rem;
    box-shadow: -10px 16px 20px 0px #dddad6 ;
    /* border: 0.1rem solid var(---olive-opacity); */
    border-radius: 1rem;
    background-color: white;
}
.nav-bar-header svg{
    margin-left: 1rem;
    color: #fe83087e;
    cursor: pointer;
}

.nav-bar-header .dropDownList{
    display: none;
}
.nav-bar-header .showList li{
    margin-top: 0.1rem;
    text-align: right;
    border-radius: 1rem;
    font-size: 0.9rem;
    padding: 0.2rem;
    transition: 0.7s ease;
    
}
.nav-bar-header .showList li:hover{
    cursor: pointer;
    background-color: var(---olive-opacity);

}
.nav-bar-header .showList span{
    text-align: right;
    padding-top: 0.5rem;
    display: block;
    font-weight: 900;
}
.nav-bar-header .showList .line{
    border-bottom: 1px solid rgba(128, 128, 128, 0.459);
    width: 80%;
}
@media (max-width: 990px){
    .nav-bar-header{
        
        box-shadow: none;
        border: none;
        background-color: transparent;
        width: fit-content;
        position: absolute;
        top: 0.8rem;
        left: 5rem!important;
        padding: 0;
    }
}

@media (max-width:406px) {
    .nav-bar-header{
        left: 2rem!important;
    }
}
@media (max-width:640px) {
    .nav-bar-header{
        
        left: 1.5rem!important;
    }
}



