
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column !important;
    width: 25%;
    height: 97%;
    float: right;
    border-radius: 1rem;
    margin: 0.5rem;
    border: 0.1rem solid var(---olive-opacity);
    box-shadow: -7px 20px 18px 0px var(---olive-opacity);
   
}
.bg-light{
    background-color: white!important;
}
.navbar-collapse{
    width: 100%;
}
.navbar-nav {
    flex-direction: column !important;
    align-items: center;
    gap: 2rem;
    margin: 0!important;
    width: 100%;

}

.navbar-brand{
    direction: rtl;
}

.navbar-toggler {
    margin-left: 5rem;
}

.nav-item{
    padding: 1rem;
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 1rem;
    direction: rtl; 
    border-radius: 1rem;
    transition: 0.7s ease;
}

.nav-item:hover{
    background-color: var(---olive);
    color: white;
    transition: 0.7s ease;
    cursor: pointer;
}

.nav-item:hover a{
    text-decoration:none!important;
    color: white!important;
    border: none!important;
    transition: 0.7s ease;
}

.nav-item a{

    color: black!important;
    transition: 0.7s ease;

}

.nav-item:hover svg{
    color: white;
}

.nav-item svg{
    color: #fe83087e;
}

.navbar-light .navbar-toggler{
    border: none!important;
    color: transparent!important;
   
}
.navbar-light .navbar-toggler .navbar-toggler-icon{
    transition: 0.7s ease;
    border-radius: 0.5rem;
}
.navbar-light .navbar-toggler:hover .navbar-toggler-icon{
    background-color: var(---orange-opacity);
}


@media (max-width:990px) {
    
    .navbar {
        flex-direction: row !important;
        flex-wrap: nowrap!important;
        width: 80%;
        height: fit-content;
        float: right;
        position: relative;
        right: 10%;
        box-shadow: 0px 0px 20px 1px var(---olive-opacity);
        padding-left: 0.6rem;
    }

    .navbar-nav {        
        background-color: white;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: -15px 19px 20px 1px var(---olive-opacity);
        padding: 1rem;
    }

    .navbar-collapse{
        width: 100%;
        position: absolute;
        top: 4rem;
        right: 0;
        z-index: 99;
    }
    .navbar-brand{
        padding-left: 30%!important;
    }
}

