.table{
    width: 100%;
    direction: rtl!important;
    margin-top: 2rem;
    text-align: right;
    border-collapse: separate;
    border: none;
    
    
}
.table-bordered{
    border: none!important;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: transparent!important;
}
.table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: transparent!important;
    border: none!important;
    padding-top: 1rem;
    
}
tr:nth-child(even) {background-color: #fe83087e!important;}
.table th{
    direction: rtl!important;
    background-color: #fe8508!important;
    color: white!important;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.table td {
    border: none!important;
    direction: rtl!important;
    background-color: transparent!important;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    height: fit-content!important;
    
}
.btns{
    width: 17rem!important;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.btns button {
    margin-left: 1rem;
    border: none;
    color: white;
    transition: 0.7s ease;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    box-shadow: inset  -2px 3px 17px 1px #f5b67696 , -3px 5px 5px 0px #f5b676;
}
.btns .edit{
    background-color: green;
}
.btns .del{
    background-color: red;
}
.btns .puyPtn{
    background-color: rgb(0, 183, 255);
}
.btns .detilsPtn{
    background-color: gray;
}
.btns button:hover{
    box-shadow: inset 0px 1px 20px 0px #f9e8d7;
}
.spinner-border{
    margin:1rem;
}
@media (max-width: 990px){
    .table{
        overflow: auto;
    }
}