.editProduct{
    padding: 8rem 1rem;
    width: 73%;
    text-align: right;
}

.editProduct .add{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.editProduct .add svg{
    width: 30%;
    color: var(---olive);
}
.editProduct .add .form-input{
    width: 70%;
}

@media (max-width: 990px){
    .editProduct{
        width: 100%;
    }
}