.productMang{
    padding: 8rem 1rem;
    width: 73%;
    text-align: right;    
}
.productMang h1{
    /* direction: rtl; */
    font-size: 2rem;
    
}


@media (max-width: 990px){
    .productMang{
        width: 100%;
    }
}