.bill-datils{
    width: 73%;
    padding: 8rem 1.5rem 1.5rem;
    text-align: right;

}
.product .table th{
    background-color: var(---olive-opacity)!important;
}

@media (max-width:990px){
    .bill-datils{
        width: 100%;
    }
}