
.none{
    display: none;
}

.pop-up-puy{
    width: 40%;
    border-radius: 1rem;
    position: absolute;
    box-shadow: -15px 14px 20px 0px #dbd7d72b !important;   
    top: 50%;
    left: 30%;
    transform: translate(-50% , -50%)
}
.form-paid{
    width: 40%;
    margin: auto;
}